h1 {
	font-size:	4em;
	margin-top:	10px;
	text-align:	center;
	float: left;
	width: 80%;
}
h2{
	text-align:	center;
	margin-top:	10px;
}
h3{
	text-align:	center;
}
.clear {
	clear:both; /*float‚Ì‰ğœ*/
}
.graph {
	margin: 10px;
	text-align: center;
}
