@CHARSET "UTF-8";

/*.row{
	display:table-row;
	margin:5px;
	padding:5px;
}
/*.row>div{
	float:left;
}*/

div
#search{
	float:left;
	width:70%;
	height:80px;
}
#reload{
	position: fixed;
	top: 0;
    z-index: 9999;
	float:right;
	padding:5px;
}
#tweet{
	width:80%;
	margin: 0 auto;
	border-radius:10px;
	display:table;
	height:auto;
}

img.button{
	border: 10px solid #0000FF;
	border-style: inset;
	border-radius: 40px;
	padding:5px;
}
img.button:hover{
	border:10px solid #9999FF;
	border-style: inset;
}
img.search:hover{
	padding:1px;
}
.profile_img{
	margin:10px;
	float:left;
	width:8%;
	height:auto;
	display:block;

}
.text{
	display:block;
	width:80%;
	margin:2% auto 2% 11%;
}