h1 {
	font-size:	4em;
	margin-top:	10px;
	text-align:	center;
	float: left;
	width: 80%;
}
h2{
	text-align:	center;
	margin-top:	10px;
}
.clear {
	clear:both; /*floatÇÃâèú*/
}
#week_select{
	text-align:	center;
}
.week_sel{
	text-align: center;
	width: 150px;
	display: inline-block;
	vertical-align: top;
	margin: 5px 0px;
	padding: 10px;
}
.table{
	height: 100%
	display: inline-block;
	vertical-align: top;

}
.main-gallery{
	float:right;
	width:75%;
}
#table{
	float:left;
	width: 25%;
}
#point{
	width:98%;
	margin: 0 auto;
	display:table;
}
.row{
	display:table-row;
}
.row>div{
	display:table-cell;
	border:0.1px solid;
}
.time{
	background-color:gold;
}
.posi{
	background-color:LightSalmon;
}
.nega{
	background-color:CornFlowerBlue;
}
/*---ï\ê‡ñæÇÃòg---*/
.note {
  position: relative;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding:0px;
  background-color:#FFF;
  width:65%;
  margin-bottom:10%;
  text-align:center;
}
.note::before,
.note::after {
  position: absolute;
  bottom:-45%;
  left: 10%;
  content: '';
  height: 0;
  width: 0;
  border: 12px solid transparent;
}
.note::before {
  border-top: 16px solid #ccc;
}
.note::after {
  border-top: 16px solid #fff;
  margin-bottom: 6px;
}