h1 {
	font-size:	4em;
	margin-top:	10px;
	text-align:	center;
	float: left;
	width: 80%;
}
h2{
	text-align:	center;
	margin-top:	10px;
}
.clear {
	clear:both; /*float‚Ì‰ðœ*/
}
#week_select{
	text-align:	center;
}
.week_sel{
	text-align: center;
	width: 150px;
	display: inline-block;
	vertical-align: top;
	margin: 5px 0px;
	padding: 10px;
}
.table{
	height: 100%
	display: inline-block;
	vertical-align: top;

}
.main-gallery{
	float:right;
	width:75%;
}
#table{
	float:left;
	width: 25%;
}
#point{
	width:98%;
	margin: 0 auto;
	display:table;
}
.row{
	display:table-row;
}
.row>div{
	display:table-cell;
	border:0.1px solid;
}
.time{
	background-color:gold;
}
.posi{
	background-color:LightSalmon;
}
.nega{
	background-color:CornFlowerBlue;
}