@CHARSET "UTF-8";
body
.row{
	display:table-row;
}
.row>div{
	display:table-cell;
	margin:15px;
	padding:15px;
            }

div
#search{
	float:left;
	width:70%;
	height:80px;
}
#reload{
	position: fixed;
	top: 0;
    z-index: 9999;
	float:right;
	padding:5px;
}
#tweet{
	width:80%;
	margin: 0 auto;
	border-radius:10px;
	display:table;
}

img.button{
	border: 10px solid #0000FF;
	border-style: inset;
	border-radius: 40px;
	padding:5px;
}