@CHARSET "UTF-8";

#page_title{
	float:left;
	margin-left:40%;
	margin-right:20%;
	color:#555;
}

#today{
	font-size:1.4em;
	padding:5px;
	margin:25px 10px auto auto;
}

#comment{
	margin-left:4em;
	margin-top:-28em;
	position: relative;
	float:left;
}

#comment_text{
	font-size:1.3em;
	float:left;
	top:35px;
	left:42px;
	position: absolute;
}

#people{
	text-align:center;
	margin-top:15px;
	margin-bottom:10px;
	margin-left:10px;
}

#time_button{
	left:20%;
	top:50%;
	position: absolute;
}

#history_button{
	left:15%;
	top:80%;
	position: absolute;
	width:20%;
}

#word_button{
	left:73%;
	top:30%;
	position: absolute;
}

#week_button{
	left:63%;
	top:57%;
	position: absolute;
}

#advice_button{
	left:77%;
	top:75%;
	position: absolute;
}
