.button_right{
   text-align:center;
margin-right:90px;
width:90%;
}
.button_left{
text-align:center;
margin-left:70px;
width:90%;
}
.left{
	width : 50%;
	float: left;
}
.right{
	width : 50%;
	float: right;
}
.site{
	width : 100%;

}
.modoru{
	text-align:center;
	width:7.5%;
	height:35px;


}
.rireki{
	text-align:left;
	width:15%;
	height:30px;
}
.center{
	text-align:center;

}
.select-box01{
		width: 10%;
	height: 40px;
	line-height: 30px;
	border-radius: 3px;

overflow:hidden;
display:inline-block;
min-width:192px;
min-width:12em;
background-color:#ffffff;
background-image:-webkit-linear-gradient(top, #ffffff 0%, #dfe0d9 100%);
background-image:linear-gradient(top, #ffffff 0%, #dfe0d9 100%);
border:1px solid #c0c0c0;
color:#333;
}

.entypo-down-open-mini:before{
font-family:'entypo',sans-serif;

z-index:1;
top:50%;
right:12px;
right:.75rem;
margin-top:-8px;
margin-top:-.5rem;
font-size:16px;
font-size:1rem;
line-height:1;
color:#333;
}
.select-box01 select {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
appearance:none;

z-index:2;
display:block;
width:200%;/* fallback non calc support */
width:-webkit-calc(100% + 5em);
margin:0;
padding:11px 35px 11px 11px;
padding:.6875rem 2.1875rem .6875rem .6875rem;
background:transparent;
border:0;
outline:none;
font-size:16px;
font-size:1rem;
line-height:1.5;

}
.select-box02 select {
	width: 10%;
	height: 40px;
	line-height: 30px;
	border-radius: 3px;
}